
.checkout{
   width:85%;
   margin:3em auto;
}

.delivery{
   width:80%;
   margin:5em auto;
}
form{
   width: 80%;
    margin: 5em auto;
}
.form-control{
   padding: 1.8rem 0.75rem !important;
   border-radius: 0.5em !important;
}
.form-group label{
   font-size: 14px !important;
}
.form-row{
   align-items: center !important;
}
.country{
   display:flex;
   align-items: center;
}

.country .form-control{
   border: none;
   background-color: transparent;
}
.country label{
   margin-bottom: 0em;;
}
.form-check label{
   margin-left: 1em;
}
.shipping{
   display:flex;
}

/* confirmation */
.confirmation{
   width:80%;
   margin:5em auto;
}
.bill{
  padding-bottom:2em;
   display:flex;
   justify-content: space-between;
}
.confirmation h5{
   font-weight: bold;
   padding-bottom: 1em;
}
.orderSummary{
   flex-basis: 70%;
   padding:2em;
}
.Delivery{
   flex-basis: 30%;
   padding:2em 3em;
}
.newyear{
   /* width:25%; */
   font-size: 12px;
   /* text-align: center; */
   border-radius: 30px;
   border:1px solid gray;
   padding:0.5em 1em;
}
.newyear .fa-check{
   padding-left:20px;
}
.billing{
   font-size:17px;
   margin-top:4em;
   display:flex;
   justify-content: space-between;
}
.subtotal{
   text-align: center;
}
.subtotal span{
   font-weight: bold;
}





._2Jtxm._35Ago ._2kL0S , ._2Jtxm ._2kL0S {
   background-color: #f62f5e;
   color: #f62f5e;
  
}
._2Jtxm._2ZUAI ._2JvrO {
   background-color: #f62f5e;
  
   
}
/* ._2Jtxm::before{
   background: linear-gradient(to left, #e7eaf3 50%, rgb(199, 73, 136) 50%);
} */
._2Jtxm::before {
   content: '';
   position: absolute;
   top: 50%;
   height: 3px;
   width: 100%;
   right: 50%;
   transform: translateY(-50%);
   z-index: -1;
   background: linear-gradient(to left, #e7eaf3 50%, #f62f5e 50%);
   background-size: 200% 100%;
   background-position: right bottom;
   transition: background-position 200ms ease-in-out;
}
._53Ji7 path{
display: none;
}


/* payment */
.payment{
   width:80%;
   margin:5em auto;
}
.payment-card{
   display:flex;
   justify-content: space-between;
}
.visa-master-card img {
width:20%;
padding: 1em;
}
.paypal-card img{
   width:35%;
padding: 1em;
}
.paycard, .paypal-card{
   border:1px solid gray;
   background-color: rgb(243, 247, 250);
   text-align: center;
   padding:2em;
   flex-basis: 49%;
}
.paycard span,.paypal-card span{
font-size: 14px;
font-weight: bold;
}
.payment-details{
margin-top:4em;
}

#cvv-code p{
  padding-top:2em;
   font-size: 11px;
}


/* Finish */
.finish{
   width:50%;
   margin:3em auto;
}
.finish .message{
   margin:2em 0em;
   text-align: center;
}
.finish .message h1{
 font-size: 40px;
 font-weight: bold;
 padding:0.5em 0em;
}
.finish .message p{
   font-size:15px;
}
.btns{
   margin:3em 0em;
   display:flex;
   justify-content: space-around;
}


